.container {
    /* -fx-background-color: #9eb3d3; */
    -fx-background-color: #41567E;
}

.btnSave {
    -fx-background-color: green;
}

.btnEdit {
    -fx-background-color: blue;
}

.btnDelete {
    -fx-background-color: red;
}