.container {
    -fx-background-color: #363946;
}

.btn {
    -fx-fill: white;
    -fx-text-fill: white;
}

.btnNull {
    -fx-background-color:  #545454;
}

.btnSave {
    -fx-background-color: green;
}

.btnEdit {
    -fx-background-color: blue;
}

.btnDelete {
    -fx-background-color: red;
}


.btnClose {
    -fx-fill: white;
}

.btnClose:hover {
    -fx-fill: red;
}

.cleanBorder {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: gray;
    -fx-padding: 5px 0 5px 0;
    -fx-text-fill: white;
    -fx-fill: white;
}
