.container {
    -fx-background-color: #363946;
}

.btnSave {
    -fx-background-color: green;
}

.btnEdit {
    -fx-background-color: blue;
}

.btnDelete {
    -fx-background-color: red;
}


.btnClose {
    -fx-fill: white;
}

.btnClose:hover {
    -fx-fill: #ddd;
}