
.table {
    -fx-background-color: #a5a5a5;
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-base: #5573A1;
    -fx-control-inner-background: #C6DCFF;
}

.table-column {
/*    -fx-background-color: #676767;*/
    -fx-padding: 5 0 10 5;
}

.barraPesquisa {
    -fx-background-radius: 20px;
}