.root {
    -fx-background-color: transparent;
}

.container {
    -fx-background-color: linear-gradient(#132743, #223333);
    -fx-background-radius: 4%;
}

.header {
    -fx-background-color: rgba(0, 0, 0, .08);
}

.btnClose {
    -fx-fill: white;
}

.btnClose:hover {
    -fx-fill: #ddd;
}

.inputs {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0 0 1.5px 0;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-padding: 0 0 0 24px;
}

.submit {
    -fx-background-color: #223354;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
}

.submit:hover {
    -fx-background-color: #1F2A4F;
}

.link:hover {
    -fx-text-fill: white;
}