.root {
    -fx-background-color: linear-gradient(#132743, #223333);
    -fx-background-radius: 2.5%;
}

.inputs {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-width: 0 0 1.5px 0;
    -fx-border-style: solid;
    -fx-border-color: white;
    -fx-padding: 0 0 0 24px;
}

.btnLogin {
    -fx-background-color: #223354;
    -fx-background-radius: 10%;
    -fx-text-fill: white;
}

.btnLogin:hover {
    -fx-background-color: #1F2A4F;
}

.efectHover:hover {
    -fx-fill: gray;
}