.root {
    -fx-background-color: transparent;
}

/* Menu Lateral */

.mainMenu {
    -fx-background-color: #001233;
    -fx-background-radius: 2em 0 0 2em;
}

#logo {
    -fx-background-color: rgba(9, 70, 128, 0.253);
    
}

.items-menu {
    -fx-pref-width: 159px;
    -fx-pref-height: 50px;
    -fx-background-color: #00183F;
    -fx-border-width: .5 0 .5 .8em;
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 1.3em;
    -fx-cursor: hand;
    -fx-alignment: baseline_left;
}

.items-menu:hover {
    -fx-background-color: #00183f18;
    -fx-border-color: #E8E8E8;
}


.items-menu FontAwesomeIcon {
    -fx-translate-x: -10;
}

.items-menu:hover FontAwesomeIcon {
    -fx-fill: #fff;
}

/* Conteudo  da app */

.container {
    -fx-background-color: #606270;
    -fx-background-radius: 2em;
}

/* Cabecalho */

.header {
    /* -fx-background-color: #343746; */
    -fx-background-color: rgba(0, 0, 0, .050);
}

.efectHover:hover {
    -fx-fill: grey;
}

.btn {
    -fx-fill: white;
}